Source: ros-indigo-gperftools-21
Section: misc
Priority: extra
Maintainer: Austin Hendrix <namniart@gmail.com>
Build-Depends: debhelper (>= 9.0.0), autoconf, automake, libunwind8-dev, ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-gperftools-21
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libunwind8, ros-indigo-catkin
Description: Fast, multi-threaded malloc() and nifty performance analysis tools
